mat-card {
  border-radius: 0 !important;
  box-shadow: none !important;
  padding-left: 1.5rem !important;
  background: none;

  mat-card-title {
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  mat-card-header {
    img {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  mat-card-content {
    margin-bottom: 0 !important;
  }

  mat-card-actions{
    button{
      background: var(--background-hermes) !important;
    }
  }
}

.botao4{
    background: #f7f0d2 !important;
    margin: 1px;
  }


.userArea {
  background-repeat: no-repeat;

  &.logged {
    background-image: url('/assets/hermes.svg');
    background-position: 20vw center;
    background-size: 35vh;

  }

  &.anonymous {
    background-image: url('/assets/hermes(invertido).svg');
    background-position: -5vw -2vw; 
    background-size: 50vh;
  }

}