<div
  class="my-container"
  [ngStyle.gt-xs]="{ 'background-position': '0vw -10vw' }"
  [ngStyle.xs]="{ 'min-height': 'calc(100vh)' }"
  [fxLayout.xs]="'column'"
  [fxLayout.gt-xs]="'row'"
>
  
  <!-- <div fxLayout="column" fxFlex="auto"> -->
  <div fxLayout="column" [fxFlex.gt-xs]="'40%'">
    <br><br>
    <h2 id="titulo" fxLayoutAlign="center end" [ngStyle.xs]="{ 'font-size': '1.2rem' }">Simulação de Transporte</h2>
    <div id="texto" fxLayoutAlign="start start" fxFlex="60%" [ngStyle.xs]="{ 'font-size': '1rem' }">
      O jogo se passa em um país isolado, onde a imensa competitividade entre as empresas e a constante busca por lucros
      impulsionou os investimentos em logística. Para que seja possível aumentar o faturamento do mês sem aumentar o
      preço do produto final os Diretores de Supply Chain tem de traçar com harmonia e eficiência as rotas mais rápidas
      com o menor custo operacional possível. Peguem suas canetas e mapas! Tracem seus planos! Mas lembrem-se, nem tudo
      sai como o esperado...
    </div>
  </div>
  <!-- </div> -->
  <img
    src="/assets/Vector.svg"
    [ngStyle.gt-xs]="{ 'min-width': '100vw', position: 'fixed', right: '-40vw' }"
    [ngStyle.xs]="{ 'min-width': '80vw', 'margin-top': '5vh' }"
  />
</div>
