.my-container{
	display: flex;
	min-height: calc(100vh - 85px);
	flex: auto;
    background-image: url(/assets/fundo-principal.svg);
    background-position: -30vw;
    background-size: 300vh;
    background-repeat: no-repeat;

 }