<mat-toolbar
  color="light"
  class="mat-elevation-z2"
  fxLayout="row"
  fxLayoutAlign.gt-xs="space-around center"
  fxLayoutGap.gt-xs="5vw"
  fxLayoutAlign.xs="space-between center"
>
  <button class="menuButton" mat-icon-button fxHide.gt-xs (click)="toogleSideNav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <img
    [routerLink]="['']"
    fxFlex.xs="1 1 auto"
    fxFlexOffset.xs="-40px"
    src="/assets/logo.svg"
    [ngStyle.gt-xs]="{ left: '50px', height: '52px', position: 'relative' }"
    [ngStyle.xs]="{ height: '45px' }"
  />

  <div fxHide.xs fxFlex.gt-xs="1 1 auto">
    <button mat-button class="pagesButton" *ngFor="let page of appPages" [routerLink]="page.url">
      {{ page.title }}
    </button>
  </div>

  <div fxHide.xs>
    <ng-container *ngIf="user">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ user.displayName }}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout.emit()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </ng-container>

    <button class="loginButton" mat-button (click)="login.emit()" *ngIf="!user">Login</button>
  </div>
</mat-toolbar>
